*{
    margin: 0;
}
body{
    font-family: 'Source Sans Pro';
}
.topo{
    position: relative;
    width: 1024px;
    margin: auto;
    background-color: black;
}
.faixa-fixa{
    position: fixed;
    width: 1024px;
    background-color: rgb(180, 196, 87);
    height: 50px;
}
.links{
    width: 1024px;
    display: flex;
    justify-content: flex-end;
    height: 30px;
}
.teste1, .teste2, .teste3{
    flex-wrap: nowrap;
    padding: 15px;
}
.titulo{
    display: flex;
}
.pousada{
    align-items: center;
    display: flex;
    margin: 15px;
}
a{
    text-decoration: none;
}